html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgb(255, 255, 255);
}

.Super-bloco {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}



.self {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 1rem;
}

.botoes a {
  margin: 0 0.7rem;
  text-decoration: none;
}

.stilo {
padding: 0.6em 2em;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: #111;
cursor: pointer;
position: relative;
z-index: 0;
border-radius: 10px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.stilo:before {
content: "";
background: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.stilo:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: #222;
left: 0;
top: 0;
border-radius: 10px;
}


.quadro {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(34, 32, 32);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.texto-estilo {
    font-size: 1.2rem;
    font-weight: bold;
    color: #111;
    margin-top: 1rem;
    margin-right: 30%;
    margin-left: 30%; 
}

.titulo-estilo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 1rem;
    margin-right: 30%;
    margin-left: 30%; 
}

.linha {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.itemM {
  height: 220px;
  width: 220px;
  /* background-color: gold; */
  margin: 10px;
}

.itemMM {
  height: 200px;
  width: 330px;
  /* background-color: rgb(255, 0, 0); */
  margin: 10px;
}

.itemMMP {
  height: 200px;
  width: 200px;
  /* background-color: rgb(255, 0, 255); */
  margin: 10px;
}

.itemP {
  height: 100px;
  width: 100px;
  /* background-color: cadetblue; */
  margin: 10px;
}

.itemPM {
  height: 200px;
  width: 650px;
  /* background-color: cadetblue; */
  margin: 10px;
}

ul {
  line-height: 1.5em;
  margin: 5px 0 15px;
  padding: 0;
}

li {
  list-style: none;
  margin-left: 1rem;
  position: relative;
  padding: 0 0 0 20px;
}

        
li.curved-arrow::before {
  content: "";
  position: absolute;
  width: 0; 
  height: 0;
  left: 4px;
  top: 3px;
  border-top: 9px solid transparent; 
  border-right: 9px solid #f9dd94;
  transform: rotate(10deg);
}

li.curved-arrow::after {
  content: "";
  position: absolute;
  border: 0 solid transparent; 
  border-top: 3px solid #f9dd94;
  border-radius: 20px 0 0 0; 
  top: 0; 
  left: -5px; 
  width: 12px; 
  height: 12px; 
  transform: rotate(45deg);
}

.texto-estilo-3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.black {
  background-color: #333;
}

img.Fullfill {
  width: 100%;
  height: 100%;
}

span {
  text-decoration: underline;
  text-shadow: 0 0 1px rgb(64, 59, 59);
}

.datas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.formatado {
  text-align: left;
}

.background {
  /* background-image: url('../img/background.jpg');
  background: blur(0px);
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  border: 1px dotted #ffffff;
  width: 45%;
}


li.circle-checkmark::before {
  content: ""; 
  position: absolute; 
  left: 0; 
  top: 2px; 
  border: solid 8px #f9dd94;
  border-radius: 8px;
}

li.circle-checkmark::after {
  content: ""; 
  position: absolute; 
  left: 5px;
  top: 5px;
  width: 3px;
  height: 6px;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.cards {
  perspective: 500px;
}

.card {
  width: 330px;
  height: 200px;
  background: url("img/background.jpg") center no-repeat;
  background-size: cover;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 4px;
  position: relative;
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform .5s;
}

.card:hover {
  transform: translateZ(10px) rotateX(20deg) rotateY(30deg);
}

.card-title {
  color: #fff;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  transition: transform .5s;
}

hr {
  margin: 0 auto;
  margin-top: 40px;
  width: 50%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

